

.footer-container{
    padding: 40px 70px;
    background:  linear-gradient(135deg, #f7faff, #eaf3ff);
    margin-top: 70px;
    text-align: center;

    @media (max-width: 768px){
        padding: 40px 20px;

    }

    .newsletter{
        text-align: center;
    }
    h1{
        background: linear-gradient(to right, #034b03, #18971c, #5fea5f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;

    }
    p{
        color: #555;
        margin: 10px 0 20px;
    }

    .input-container{
        display: flex;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        max-width: 480px;
        margin: 0 auto;
        gap: 12px;


        input{
            flex: 1;
            padding: 12px 15px;
            border-radius: 5px;
            background: #ffffff;
            font-size: 1rem;
            border: 1px solid #d0dcec;
            outline: none;

        }
          .submit{
            background: rgb(4, 101, 4);
            white-space: nowrap;
            padding: 12px 15px;
            border-radius: 10px;
            color: white;
            border: none;
            transition: 0.3s;

            
            &:hover{
            background-color:rgb(44, 139, 44);
           }
           }

           @media(max-width:480px){
            flex-direction: column;

            input{
                width: 100%;
            }
           }   
    }


    .footer-section{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        padding-top: 60px;


        @media(max-width:900px){
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width:600px) {
            grid-template-columns: 1fr;
        }

        .footersection{
            padding-left: 0;
        }


        .icons {
        display: flex;
        gap: 15px;
        font-size: 1.1rem;
        justify-content: center;

        a svg{
            background: rgb(148, 52, 52);
            padding: 13px;
            border-radius: 20px;
            background: white;
            box-shadow: 0 3px 10px rgba(26, 25, 25, 0.196);
            cursor: pointer;
            transition: 0.3s;
            color: #117614;

        }
         a svg:hover{
                background: green;
                color: white;
            }
    }
    .sub-field{
        
        h4{
            font-size: 1.2rem;
            color: green;
        }
        
        ul{
            list-style: none;
            padding: 0;

            li{
                line-height: 34px;
                color: #555;
                transition: 0.3s;

                &:hover {
                    color: green;
                }

                a {
                    color: #555;
                    text-decoration: none;
                    transition: 0.3s;

                    &:hover {
                        color: green;
                   }
                }
            }
        }

    }
    }

    .app-section{
        text-align: center;
        margin-top: 50px;

        h3{
            color: green;
            font-size: 1.3rem;
            margin-bottom: 5px;
        }
      
    }

     .app-icons{
        display: flex;
        justify-content: center;
        gap: 5px;

        img{
            width: 120px;
            cursor: pointer;
            transition: 0.3s;

            &:hover{
                transform: scale(1.05);
            }
        }
     }

        .copy-right{
            text-align: center;
        }

}


@media (max-width: 480px) {
  .input-container {
    flex-direction: column;
    align-items: stretch;
  }

  .input-container input {
    width: 100%;
  }

  .input-container .submit {
    width: fit-content;   // 🔥 button shrink
    align-self: center;   // center button
  }
}
