.booking-trends {
    background: #ffffff ;
    padding: 60px 50px;
    width: 100%;
}

.heading{
    color: #1b4d2e ;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

//Responsive
@media(max-width: 768px){
    .booking-graph{
        height: 250px;
    }
}

